<div class="panel panel-body">
    <h2>Contact</h2>
    <p>If you would like to contact me regarding career opportunities, please feel free to contact me via one of the following forms of social media:</p>
    <div class="social-media">
        <a href="https://github.com/matt-walsh"><span class="icon-github-circled"></span></a>
        <a href="https://www.linkedin.com/in/walshmp/"><span class="icon-linkedin-squared"></span></a>
        <a href="https://www.facebook.com/matt.walsh.dev"><span class="icon-facebook-official"></span></a>
        <a href="https://plus.google.com/+mattwalsh_dev"><span class="icon-gplus-squared"></span></a>
        <a href="https://twitter.com/Mr_Dubs"><span class="icon-twitter-squared"></span></a>
        <a href="http://steamcommunity.com/id/Snakeo"><span class="icon-steam-squared"></span></a>
    </div>
</div>