<div class="panel panel-body">
    <h1>Skills</h1>
    <hr>
    <p>
        This section highlights skills that I have gained on my own time. Most of these have been gained while building this website. Many of the technologies used in the construction of this website were completely foreign to me when I began. Throughout it's construction, I utilized many resources from varous sources. A full list of these resources can be found below.
    </p>
    <h3><a>Resources</a></h3>
    <!--Skills Square-->
    <!--ROW1 -->
    <div class="row skills-table">
        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    HTML5/CSS3
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>
                        The basis of every website. Dynamic intefaces can be created using only these tools.
                    </p>
                    <p><a href="https://github.com/matt-walsh/matt-walsh.github.io.dev/">This site</a> was created using HTML5/CSS3</p>
                </div>
                
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    Javascript (ES6)
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>An advanced programming language, able to be used in the browser or on the server.</p>
                    <p></p>
                </div>
                
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    Bootstrap
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>Responive front-end framework for creating websites quickly.</p>
                    <p><a href="https://github.com/matt-walsh/matt-walsh.github.io.dev/">This site</a> was created using Bootstrap3</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    jQuery
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>DOM manipulation and AJAX request framework</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!--ROW2-->
    <div class="row skills-table">
        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    Express.js
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                     A minimal and flexible Node.js web server that provides a robust set of features for web.
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    Typescript
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>An Object-Oriented, strongly typed scripting language that is a super-set of ES6. Created by Microsoft</p>
                    <p><a href="https://github.com/matt-walsh/matt-walsh.github.io.dev/">This site</a> was created using Typescript, and compiled to Javascript</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    AngularJS V.2
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>A TypeScript-based,  open-source, front-end web application platform created by Google</p>
                    <p><a href="https://github.com/matt-walsh/matt-walsh.github.io.dev/">This site</a> was created using Angular 2</p>                
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    Hyperledger
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>an advanced, open source, cross-industry blockchain implementaion created by IBM</p>
                    <a href="https://github.com/matt-walsh/battle-chain">Example</a>
                </div>
            </div>
        </div>        


    </div>
    <!--ROW3-->
    <div class="row skills-table">
        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    Node.js
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    <p>A JavaScript runtime built on Chrome's V8 JavaScript engine with a large library of crowd-sourced modules</p>
                    <p><a href="https://github.com/matt-walsh/matt-walsh.github.io.dev/">This site</a> was created using Node an NPM</p>
                </div>
            </div>
        </div>
                
        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    NPM
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    The suggested package manager for Node.js
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-label">
                <div class="panel-text">
                    GIT
                </div>
            </div>
            <div class="panel-overlay">
                <div class="panel-text">
                    A open source, distributed version control system.
                </div>
            </div>
        </div>
    </div>
    <!--ROW4-->

    <!--Education Section-->
    <h1>EDUCATION</h1>
    <p>
        how do you doooo!?
    </p>
    <div class="prog-section">
        <input type="checkbox" id="prog-toggle" class="expand-toggle">
        <label for="prog-toggle" id="prog-label"class="label-style btn"></label>
        <div class="education-title">
            <h2>Nova Scotia Community College (NSCC) — Programming Concentration</h2>
            <h3>Dates Attended: September 2011 to April 2013</h3>
        </div>
        <div id="prog-details"class="education-details">      
            <div class="row">
                <div class="col-md-6">
                    <p>Advanced Systems Analysis and Design (AGILE) </p>
                    <p>Intro to Windows Programming (C#)</p>
                    <p>Web Application Development(PHP, ASP.NET, Javascript)</p>
                    <p>Systems Programming (C++)</p>
                </div>
                <div class="col-md-6">
                    <p>Object Oriented Programming (Java)</p>
                    <p>Data Structures and Algorithm Design (C++)</p>
                    <p>Advanced Database Management(SQL, T-SQL, Oracle)</p>
                    <p>Mobile Application Development (Java, Android)</p>
                </div>            
            </div>
        </div>
    </div>
    <div class="cet-section">
        <input type="checkbox" name="cet-toggle" id="cet-toggle" class="expand-toggle">
        <label for="cet-toggle" id="cet-label"class="label-style btn"></label>        
        <div class="education-title">
            <h2>Nova Scotia Community College(NSCC) — Computer Electronic Technician</h2>
            <h3>Dates Attended: September 2007 - April 2011</h3>
        </div>
        <div id="cet-details" class="education-details">
            <div class="row">
                <div class="col-md-4">
                    <p>AC/DC Circuits</p>
                    <p>Semiconductor Circuits</p>
                    <p>Digital Circuits</p>
                    <p>Embedded Controllers</p>
                </div>       
                <div class="col-md-4">
                    <p>Introduction to Databases</p>
                    <p>Introduction to Networking</p>
                    <p>Operating Systems: Linux, Windows, OSX</p>
                    <p>Systems Analysis and Design (SaaD)</p>
                </div>
                <div class="col-md-4">
                    <p>High Reliability Soldering</p>
                    <p>Computer Aided Drafting (CAD)</p>
                    <p>Project Planning</p>
                    <p>Human Relations for Business</p>                            
                </div>          
            </div>
        </div>
    </div>

    <!--Experience Section -->
    <div class="exp-section">
        <h1>EXPERIENCE</h1>
        <h2>Halifax Regional Municipality, HRM — Intern/Developer</h2>
        <h3>Dates Employed: May 2014 - June 2014</h3>
        <p>Assisted in transferring content from statics HTML pages to a new, dynamic template. Duties include repairing/moving HTML Tags and development of a web application using open geographical data.</p>

        <h2>Canadian Blood Services, Halifax — Data Entry/Networking</h2>
        <h3>Dates Employed: February  2006 - June 207</h3>
        <p>Reporting to the Donor Records and Business Systems (DRBS) manager, My responsibilities included entering donor records, managing weekly system updates on mobile collection centers, responding to technical issues raised by staff</p>
    </div>
</div>